.tree-cell {
    -fx-label-padding: 0;
    -fx-padding: 0;
    -fx-font-size: 8pt;
}
/* Custom styling for the "Assisted grid editing (snow) table". This does not take effect for the "Errors" table. */
.table-view.snow:focused > .virtual-flow > .clipped-container > .sheet > .table-row-cell:filled:selected,
.table-view.snow:focused > .virtual-flow > .clipped-container > .sheet > .table-row-cell .table-cell:selected {
    -fx-background: #0078D7 !important;
    -fx-background-color: #0078D7 !important;
    -fx-table-cell-border-color: orange;
    -fx-text-fill: -fx-control-inner-background !important;
}
.snow .table-cell {
    -fx-border-color: transparent #EDEDED #EDEDED transparent; -fx-border-width: 1px;
}
.snow .table-row-cell {
    -fx-background-color: -fx-control-inner-background;
}
.snow .table-row-cell:odd {
    -fx-background-color: -fx-control-inner-background;
}
.snow .table-cell {
    -fx-background-color: -fx-control-inner-background;
}
.snow .table-cell:empty {
    -fx-background-color: -fx-control-inner-background;
    -fx-border-color: transparent  transparent transparent transparent;
}

.tooltip {
    /* I like a black-on-white more than white-or-black. */
    -fx-background: rgba(230,230,230,1.0);
    -fx-text-fill: black;
    -fx-background-color: rgba(230,230,230,0.95);
    -fx-background-radius: 3px;
    -fx-background-insets: 0;
    -fx-padding: 0.667em 0.75em 0.667em 0.75em; /* 10px */
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.5) , 10, 0.0 , 0 , 3 );
    -fx-font-size: 1em;
}
.hyperlink, .hyperlink:visited {
    -fx-text-fill: dodgerblue;
    -fx-underline: false;
}
.hyperlink:hover {
    -fx-underline: true;
}