.button {
    -fx-text-fill: black;
}
.tree-cell {
    -fx-label-padding: 0;
    -fx-padding: 0;
    -fx-font-size: 8pt;
}
.root {

/* testing:      -fx-base: violet;*/
}
/* Selected rows */
.table-view:focused > .virtual-flow > .clipped-container > .sheet > .table-row-cell:filled:selected,
.table-view:focused > .virtual-flow > .clipped-container > .sheet > .table-row-cell .table-cell:selected {
    -fx-background: #0078D7 !important;
    -fx-background-color: #0078D7 !important;
    -fx-table-cell-border-color: orange;
    -fx-text-fill: white !important;
/*    -fx-border-width: 5px 5px 5px 5px;*/
}
.table-cell {
    /*-fx-border-color: transparent  transparent transparent transparent;*/
    -fx-border-color: transparent #EDEDED #EDEDED transparent; -fx-border-width: 1px;
}

.table-row-cell {
    -fx-background-color: white;
}
.table-row-cell:odd {
    -fx-background-color: white;
}
.table-cell {
    -fx-background-color: white;
}
.table-cell:empty {
    -fx-background-color: white;
    -fx-border-color: transparent  transparent transparent transparent;
}